bin/
obj/
out/
publish/

*.nupkg
*.snupkg
.nuget/

.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

appsettings.Development.json
appsettings. Local.json
.env
*.env

.git/
.gitignore
.gitattributes

Dockerfile
.dockerignore
docker-compose*.yml

README.md
LICENSE
*.md

*.db
*.db-shm
*.db-wal
Migrations/

logs/
*.log

cloudflared-credentials.json